<% layout('../layouts/main') %>

<h3>Clients <a href="/clients/new" class="btn btn-primary">Create New</a></h3>

<table id="clients-table" class="data-table table table-hover">
    <thead>
        <tr>
            <th>Company name</th>
        </tr>
    </thead>
    <tbody>
        <% for( let i = 0; i < clients.length; i++ ) { %>
            <tr data-href="/clients/<%= clients[i].id %>">
                <td><%= clients[i].company_name %></td>
            </tr>
        <% } %>
    </tbody>
</table>
