<div class="mt-2">
    <div id="success-alert" class="alert alert-success d-none" role="alert">
        <span class="alert-message"></span>    
    </div>
    
    <div id="error-alert" class="alert alert-danger d-none" role="alert">
        <span class="alert-message"></span>    
    </div>
</div>