<ul class="nav">
    <li class="nav-item">
        <button class="nav-link btn btn-dark" onclick="history.go(-1)">&#8592;</button>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/inventories">Inventories</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/products">Products</a>
    </li>
    <% if (session.user && session.user.can_create_users) { %>
        <li class="nav-item">
            <a class="nav-link" href="/users">Users</a>
        </li>
        <% } %>
    <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/clients">Clients</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/orders">Orders</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/auth/logout">Logout</a>
    </li>
</ul>