<form method="POST" action="/users/changePassword" class="ajax-form">
    <input type="hidden" name="userID" value="<%= user.id %>">
    <div class="form-group mb-2">
        <label>New Password</label>
        <input type="password" required class="form-control" name="password">
    </div>
    <div class="form-group mb-2">
        <label>Password Confirm</label>
        <input name="password_confirm" type="password" required class="form-control">
    </div>   
    <button type="submit" class="btn btn-primary">Submit</button>
</form>